################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UMS
EmailService/obj/Debug/netcoreapp3.1/EmailService.assets.cache
UMS/obj/Debug/netcoreapp3.1/UMS.assets.cache
UMS/obj/Debug/netcoreapp3.1/UMS.csprojAssemblyReference.cache
