##################
# This .gitignore.
##################
published
UMS/obj
EmailService/obj
*.cache
UMS/obj/Debug/netcoreapp3.1/*.cache
/.vs/UMS
/.vs
.vs
UMS/obj/Debug/netcoreapp3.1/UMS.dll
UMS/obj/Debug/netcoreapp3.1/UMS.pdb
UMS/obj/Debug/netcoreapp3.1/UMS.Views.dll
UMS/obj/Debug/netcoreapp3.1/UMS.Views.pdb
UMS/bin/Debug/netcoreapp3.1/UMS.dll
UMS/bin/Debug/netcoreapp3.1/UMS.pdb
UMS/bin/Debug/netcoreapp3.1/UMS.Views.dll
UMS/bin/Debug/netcoreapp3.1/UMS.Views.pdb
EmailService/obj/Debug/netcoreapp3.1/EmailService.assets.cache
EmailService/obj/Debug/netcoreapp3.1/EmailService.csprojAssemblyReference.cache
UMS/obj/Debug/netcoreapp3.1/UMS.assets.cache
UMS/obj/Debug/netcoreapp3.1/UMS.csprojAssemblyReference.cache

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
EmailService/obj/Debug/netcoreapp3.1/EmailService.csproj.FileListAbsolute.txt
EmailService/obj/Debug/netcoreapp3.1/EmailService.csprojAssemblyReference.cache
UMS/bin/Debug/netcoreapp3.1/UMS.StaticWebAssets.xml
UMS/obj/Debug/netcoreapp3.1/UMS.csproj.FileListAbsolute.txt
UMS/obj/Debug/netcoreapp3.1/UMS.csprojAssemblyReference.cache
UMS/obj/Debug/netcoreapp3.1/staticwebassets/UMS.StaticWebAssets.xml
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/project.nuget.cache
UMS/obj/project.assets.json
UMS/obj/project.nuget.cache
UMS/obj/UMS.csproj.nuget.dgspec.json
UMS/obj/Debug/netcoreapp3.1/UMS.assets.cache
EmailService/obj/Debug/netcoreapp3.1/EmailService.assets.cache