################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
UMS/obj/Debug/netcoreapp3.1/*.cache
/.vs/UMS
EmailService/obj/Debug/netcoreapp3.1/EmailService.csprojAssemblyReference.cache
UMS/bin/Debug/netcoreapp3.1/UMS.dll
UMS/bin/Debug/netcoreapp3.1/UMS.pdb
UMS/bin/Debug/netcoreapp3.1/UMS.Views.dll
UMS/bin/Debug/netcoreapp3.1/UMS.Views.pdb
UMS/obj/Debug/netcoreapp3.1/UMS.csprojAssemblyReference.cache
UMS/obj/Debug/netcoreapp3.1/UMS.dll
UMS/obj/Debug/netcoreapp3.1/UMS.pdb
UMS/obj/Debug/netcoreapp3.1/UMS.Views.dll
UMS/obj/Debug/netcoreapp3.1/UMS.Views.pdb
EmailService/obj/Debug/netcoreapp3.1/EmailService.assets.cache
EmailService/obj/Debug/netcoreapp3.1/EmailService.csprojAssemblyReference.cache
UMS/obj/Debug/netcoreapp3.1/UMS.assets.cache
UMS/obj/Debug/netcoreapp3.1/UMS.csprojAssemblyReference.cache
