@model EditProfile
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    var editProfile = ViewData["User"] as EditProfile;
}

<div class="mx-auto col-5">
    <br>
    <!--Start Card-->
    <div class="card card-info text-center">
        <!--Start Card header-->
        <div class="card-header">
            <h3 class="card-title">Edit Profile</h3>
        </div>
        <!--End Card header-->
        <!--Start Card body-->
        <div class="card-body">
            <!--Start Form profile-->
            <form id="FormProfile" method="post" asp-action="editProfile" asp-controller="EditProfile">
                <!--Start Input edit profile-->
                <span class="text-danger small"></span>
                <input type="hidden" asp-for="acc_Id" id="acc_Id" value="@editProfile.acc_Id" />
                <div class="input-group mb-3">
                    <input class="form-control" id="acc_Firstname" name="acc_Firstname" asp-for="acc_Firstname" value="@editProfile.acc_Firstname" />
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" id="acc_Lastname" name="acc_Lastname" asp-for="acc_Lastname" value="@editProfile.acc_Lastname" />
                </div>

                <!--Start Input change password-->
                <div id="acc_OldPassword" class="input-group mb-3">
                    <input type="password" name="acc_OldPassword" class="form-control" placeholder="Old password" />
                </div>
                <div id="acc_NewPassword" class="input-group mb-3">
                    <input type="password" name="acc_NewPassword" class="form-control" placeholder="New password" />
                </div>
                <div id="acc_ConfirmPassword" class="input-group mb-3">
                    <input type="password" name="acc_ConfirmPassword" class="form-control" placeholder="Confirm password" />
                </div>
                <!--End Input change password-->

                <!--Start Button save password-->
                <button id="btn_SavePassword" type="submit" class="btn btn-success btn-block">Save</button>
                <!--End Button save password-->
                <!--End Input edit profile-->

                <!--Start Button save profile-->
                <div class="row">
                    <div class="col-8">
                        <p id="href_ChangePassword">Change password</p>
                    </div>
                    <div class="col-4">
                        <button id="btn_SaveProfile" type="submit" class="btn btn-success btn-block float-right">Save</button>
                    </div>
                </div>
                <!--End Button save profile-->
            </form>
            <!--End Form profile-->
        </div>
        <!--End Card body-->
    </div>
    <!--Stop Card-->
</div>

<!--Start Script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#acc_OldPassword").hide();
        $("#acc_NewPassword").hide();
        $("#acc_ConfirmPassword").hide();
        $("#btn_SavePassword").hide();

        $("#href_ChangePassword").click(function () {
            $("#href_ChangePassword").hide();
            $("#btn_SaveProfile").hide();
            $("#acc_OldPassword").show();
            $("#acc_NewPassword").show();
            $("#acc_ConfirmPassword").show();
            $("#btn_SavePassword").show();
        });
    })
</script>
<!--End Script-->

<!--Start Style-->
<style>
    #href_ChangePassword {
        text-align: left;
        color: blue;
        cursor: pointer;
    }
</style>
<!--End Style-->