@model UMS.Models.Logs

@{
    ViewData["Title"] = "Logs monitor";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<!--
    Name: ~/Views/Logs/Index.cshtml
    Author: Namchok Singhachai
    Description: View for logs monitor
-->

<h2>Logs</h2>
