@model Account

@{
    ViewData["Title"] = "Manage User";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    var acc = @ViewData["User"] as Account;
}

<!--
    Namspace: ~/View/ManageUser/Index.cshtml
    Author: Namchok Singhachai
    Description: view for user management
-->

<div class="mr-auto">

    <!--Start Card-->
    <div class="card card-info mt-2 mb-2">
        <!--Start Card header-->
        <div class="card-header">
            <h3 class="card-title">Manage Users</h3>
        </div>
        <!--End Card header-->
        <!--Start Card body-->
        <div class="card-body">
            <div class="box">
                <div class="box-body">
                    <!--Start Manage user table-->
                    <table id="example1" class="table table-bordered table-striped">
                        <!--Start Manage user table head-->
                        <thead class="text-center">
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <!--End Manage user table head-->
                        <!--Start Manage user table body-->
                        <tbody>
                            @{ int index = 0; }
                            @foreach(var item in ViewData["User"] as List<Account>)
                            {
                                <tr>
                                    <td><center>@(index += 1)</center></td>
                                    <td>@(item.acc_Firstname + " " + item.acc_Lastname)</td>
                                    <td>@item.acc_Email</td>
                                    <td><center> NULL </center></td>
                                    <td class="text-center">
                                        <button class="btn btn-warning text-white" data-toggle="modal" data-target="#EditUser"><i class="fa fa-pencil-alt"></i></button>
                                        <button class="btn btn-danger"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <!--End Manage user table body-->
                    </table>
                    <!--End Manage user table body-->
                </div>
                <!--End Manage user table body-->
            </div>
            <!--End Manage user table-->
        </div>
        <!--End Card body-->

        <!--Start Modal edit user-->
        <div class="modal fade" id="EditUser">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--Start Modal header edit user-->
                    <div class="modal-header bg-warning">
                        <h4 class="modal-title  text-white">Edit user account.</h4>
                        <!--Start Button close-->
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!--End Button close-->
                    </div>
                    <!--End Modal header edit user-->
                    <!--Start Modal body edit user-->
                    <div class="modal-body">
                        <!--Start Form Edit user-->
                        <form id="ModalEditUser" method="post">
                            <!--Start Input Edit user-->
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Firstname:</label>
                                <div class="col-sm-9 mr-auto">
                                    <div class="form-group">
                                        <input class="form-control">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <label class="col-sm-3 col-form-label">Lastname:</label>
                                <div class="col-sm-9 mr-auto">
                                    <div class="form-group">
                                        <input class="form-control">
                                        <input class="form-control">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <label class="col-sm-3 col-form-label">Role:</label>
                                <div class="col-sm-9 mr-auto">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Admin</option>
                                            <option>User</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--End Input Edit user-->
                        </form>
                        <!--End Form Edit user-->
                    </div>
                    <!--End Modal body-->
                    <!--Start Modal footer-->
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default float-left" data-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-success float-right">Save</button>
                    </div>
                    <!--End Modal footer-->
                </div>
            </div>
        </div>
        <!--End Modal Edit user-->

    </div>
    <!--End Card-->
</div>