@*
    Namespace: ~/View/Shared/AdminLTE
    File: _Footer.cshtml
    Description: Set footer of template
*@

<!-- Main Footer -->
<footer class="main-footer">
    <!-- Default to the left -->
    <a href="http://www.itpc.co.th/">IT Professional Consulting (ITPC).</a>
</footer>
<!-- End main Footer -->