<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <!--<div class="float-right d-none d-sm-inline">
        Anything you want
    </div>-->
    <!-- Default to the left -->
    <a href="http://www.itpc.co.th/">IT Professional Consulting (ITPC).</a>
</footer>