@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<p>
    Please check your email to reset your password.
</p>

