@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Namespace: ~/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml
    Author: Namchok Singhachai
    Description: forgot password confirmation page
-->

<!-- Content -->
    <div class="hold-transition login-page">
        <div class="login-box">
            <h3 class="login-box-msg text-center">User Management System</h3>
            <!--Start Card-->
            <div class="card">
                <!--Start Card body-->
                <div class="card-body login-card-body text-center">
                    <br>
                    <i id="checkicon" class="fa fa-check-circle"></i>
                    <br><br>
                    <h3>Please check your email!</h3>
                    <p>We have just sent you a link to reset your password.</p>
                    <form method="post">
                        <button type="submit" class="btn btn-secondary btn-block">Back</button>
                    </form>
                </div>
                <!--End Card body-->
            </div>
            <!--End Card-->
        </div>

        <!--Start Script-->
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }

        <!--Start Style-->
        <style>
            .login-box{
                width: 400px;
            }
            #checkicon {
                color: #28a745;
                font-size: 5em;
            }
        </style>
        <!--End Style-->

    </div>
<!-- End Content -->