@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Namespace: ~/Areas/Identity/Pages/Account/ForgotPassword.cshtml
    Author: Wannapa Srijermtong
    Description: Send email for reset password.
-->

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
        </div>
        <h3 class="login-box-msg">User Management System</h3>
        <!--Start Card-->
        <div class="card">
            <!--Start Card body-->
            <div class="card-body login-card-body">
                <p class="login-box-msg">Please enter your email address and <br> we'll send you a recovery link.</p>
                <!--Start Form Reset password-->
                <form id="ForgotPassword" method="post">

                    <!--Start Input Email-->
                    <span asp-validation-for="Input.Email" class="text-danger small"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <!--End Input Email-->
                    <!--Start Button Reset-->
                    <div class="mb-2 mb-md-2">
                        <button type="submit" class="btn btn-block btn-primary">Reset</button>
                    </div>
                    <!--End Button Reset-->
                    <!--Start Hyperlink-->
                    <div class="mt-2">
                        <a href="/Identity/Account/Login" class="text-center">I already have a membership</a><br>
                        <a href="/Identity/Account/Register" class="text-center">Register a new membership</a>
                    </div>
                    <!--End Hyperlink-->
                </form>
                <!--End Form Reset password-->

            </div>
            <!--End Card body-->
        </div>
        <!--End Card-->
    </div>

    <!--Start Script-->
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <script>
            // Check is has exception
            @if (TempData["Exception"] != null) { @Html.Raw(TempData["Exception"]) /* Swal funciton */ }
        </script>
    }
    <!--End Script-->

</div>