@page
@model ForgotPasswordModel
@{
    /*
        Namespace: ~/Areas/Identity/Pages/Account/ForgotPassword.cshtml
        Author: Wannapa Srijermtong
        Description: Sending an email for reset password.
    */
    ViewData["Title"] = "Forgot password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string URL = $"{this.Request.Scheme}://{this.Request.Host}{this.Request.PathBase}";
}
<!--Style-->
<style>
    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.05);
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }

    @@media screen and (max-width: 321px) {
        .login-box-msg {
            font-size: 25px !important;
        }

        .col-sm-12 > .btn-block {
            width: 100%;
        }

        p.login-box-msg {
            font-size: 15px !important;
            padding: 0 15px 15px !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 5px;
        }

        form {
            width: 70% !important;
            margin: auto !important;
        }
    }
    /*screen and (max-width: 321px)*/

    @@media screen and (max-width: 376px) and (min-width: 321px) {
        .login-box-msg {
            font-size: 25px !important;
        }

        p.login-box-msg {
            font-size: 15px !important;
            padding: 0 15px 15px !important;
        }

        form {
            width: 80% !important;
            margin: auto !important;
        }
    }
    /*screen and (max-width: 376px) and (min-width: 321px)*/

    @@media screen and (max-width: 426px) and (min-width: 376px) {

        .col-sm-12 > .btn-block {
            width: 100%;
        }

        form {
            width: 90% !important;
            margin: auto !important;
        }
    }
    /*screen and (max-width: 426px) and (min-width: 376px)*/

    @@media screen and (max-width: 769px) and (min-width: 426px) {

        p {
            margin-top: 0;
            margin-bottom: 7px;
        }
    }
    /*screen and (max-width: 769px) and (min-width: 426px)*/

    .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
</style>
<!--End Style-->
<!--Content-->
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
<div class="hold-transition login-page">
    <div class="login-box position-fixed">
        <h3 class="login-box-msg">User Management System</h3>
        <!--Start Card-->
        <div class="card m-auto">
            <!--Start Card body-->
            <div class="card-body login-card-body">
                <p class="login-box-msg">Please enter your email address and <br> we'll send you a recovery link.</p>
                <!--Start Form Reset password-->
                <form id="ForgotPassword" method="post">
                    <!--Start Input Email-->
                    <span asp-validation-for="Input.Email" class="text-danger small"></span>
                    <span class="text-danger small d-none" id="alert_acc_email">The email is not registered.</span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" id="acc_Email" onchange="checkUser()"
                               class="form-control" placeholder="Email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <!--End Input Email-->
                    <!--Start Button Reset-->
                    <div class="mb-2 mb-md-2">
                        <button onclick="ForgetPassworld()" type="button" class="btn btn-block btn-primary">Reset</button>
                    </div>
                    <!--End Button Reset-->
                    <!--Start Hyperlink-->
                    <div class="mt-3">
                        <a href="@URL/Identity/Account/Login" class="text-center">I already have a membership</a><br>
                        <a href="@URL/Identity/Account/Register" class="text-center">Register a new membership</a>
                    </div>
                    <!--End Hyperlink-->
                </form>
                <!--End Form Reset password-->

            </div>
            <!--End Card body-->
        </div>
        <!--End Card-->
    </div>
</div>
<!--End Content-->
<!--Start Script-->
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script>
    $(document).ajaxSend(function () {
        $("#overlay").fadeIn(200);
    });
    @if (TempData["Exception"] != null) { @Html.Raw(TempData["Exception"]) }; // Check is has exception

    /*
    * Name: ForgetPassworld
    * Author: Namchok Singhachai
    * Descritption: Checking input and submitted form.
    */
    function ForgetPassworld() {
        let RegEmail = /^[\w-\.]+@@([\w-]+\.)+[\w-]{2,4}$/;
        let acc_Email = $('#acc_Email').val()
        if (acc_Email == null || acc_Email == "") {
            toastr.warning('The Email field is required. ')
        } else if (!RegEmail.test(acc_Email)) {
            toastr.warning('The Email is not valid.');
        } else {
            $.ajax({
                url: "@Url.Action("CheckUserExist", "ManageUser")",
                data: { userStr: acc_Email},
                type: "POST",
                dataType: "JSON",
                success: function (res) {
                    if (res) {
                        $('#ForgotPassword').submit();
                    } else {
                        toastr.error('The email is not registered.') // ไม่ได้สมัครสมาชิก
                    } // End checking result // If res qual 1 is the user is exits
                },
                error: function (result) {
                    let statusResText = (result.responseText != '') ? ' Text: ' + result.responseText : '';
                    let _text = 'Status : ' + result.status + statusResText;
                    console.log(result); // show log of error
                    toastr.error(`${_text}`);
                } // End error
            })
        } // End checking input
    } // End ForgetPassworld

    /*
    * Name: checkUser()
    * Author: Namchok Singhachai
    * Descriptions: Checking email user in the system.
    */
    function checkUser() {
        try {
            let userStr = $('#acc_Email').val()
            // Ajax for check user exits
            $.ajax({
                url: "@Url.Action("CheckUserExist", "ManageUser")",
                data: { username: userStr},
                type: "POST",
                dataType: "JSON",
                success: function (res) {
                    if (res) { // If res qual 1 is the user is exits
                        $('#alert_acc_email').addClass('d-none')
                        console.log('The username is not exist.')
                    } else {
                        $('#alert_acc_email').removeClass('d-none')
                        console.log('This email has been exist.')
                    } // End if
                },
                error: function (result) {
                    let statusResText = (result.responseText != '') ? ' Text: ' + result.responseText : '';
                    let _text = 'Status : ' + result.status + statusResText;
                    console.log(result); // show log of error
                    toastr.error(`${_text}`);
                } // End error
            }).done(function () {
                setTimeout(function () {
                    $("#overlay").fadeOut(100);
                }, 100);
            }); // End ajax for check user exits
        } catch (err) {
            console.log(`${err.message}`);
            toastr.error(`${err.message}`);
        } // End try catch
    } // End checkUser
</script>
} <!--End Script-->