@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hold-transition login-page">
    <div class="login-box">
        <h3 class="login-box-msg">User Management System</h3>
        <!--Start Card-->
        <div class="card">
            <!--Start Card body-->
            <div class="card-body login-card-body">
                <p class="login-box-msg">Login to start UMS</p>
                <!--Start Form login-->
                <form id="account" method="post">
                    <!--Start Input email-->
                    <span asp-validation-for="Input.Email" class="text-danger small"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" placeholder="email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <!--End Input email-->
                    <!--Start Input password-->
                    <span asp-validation-for="Input.Password" class="text-danger small"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" placeholder="password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <!--End Input password-->
                    <!--Start Hyperlink-->
                    <a href="/Identity/Account/ForgotPassword" class="text-center">I forgot my password</a><br>
                    <a href="/Identity/Account/Register" class="text-center">Register a new membership</a>
                    <!--End Hyperlink-->
                    <div class="row">
                        <!--Start Checkbox remember Me-->
                        <div class="col-8">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <!--End Checkbox remember Me-->
                        <!--Start Button login-->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                        <!--Endt Button login-->
                    </div>
                    <div asp-validation-summary="All" class="text-danger small"></div>
                </form>
                <!--End Form login-->
                <!--Start Social media login-->
                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a class="btn btn-block btn-danger" asp-controller="Account" asp-action="GoogleLogin">
                        <i class="fab fa-google-plus mr-2"></i>
                        Log In With Google
                    </a>
                    <a class="btn btn-block btn-primary" asp-controller="Account" asp-action="FacebookLogin">
                        <i class="fab fa-facebook mr-2"></i>
                        Log In With Facebook
                    </a>
                    <a class="btn btn-block btn-secondary" asp-controller="#" asp-action="#">
                        <i class="fas fa-th-large mr-2"></i>
                        Log In With Microsoft
                    </a>
                </div>
                <!--End Social media login-->
            </div>
            <!--End Card body-->
        </div>
        <!--End Card-->
    </div>

    <!--Start Script-->
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <!--End Script-->

</div>
