@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <h3 class="login-box-msg">User Management System</h3>
        </div>
        <!--Start Card-->
        <div class="card">
            <!--Start Card body-->
            <div class="card-body register-card-body">
                <!--Start Form register-->
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <!--Start Input information for register-->
                    <div class="form-group">
                        <label asp-for="Input.acc_Firstname"></label>
                        <input asp-for="Input.acc_Firstname" class="form-control" />
                        <span asp-validation-for="Input.acc_Firstname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.acc_Lastname"></label>
                        <input asp-for="Input.acc_Lastname" class="form-control" />
                        <span asp-validation-for="Input.acc_Lastname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <!--End Input information for Register-->
                    <!--Start Button-->
                    <a id="btn_back" class="btn btn-block btn-secondary float-left" href="./Login">
                        Back
                    </a>
                    <button type="submit" class="btn btn-primary float-right">Register</button>
                    <!--End Button-->
                </form>
                <!--End Form Register-->
            </div>
        </div>
        <!--End Card-->
    </div>
    <!--Start Script-->

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <!--Ed Script-->

    <!--Start Style-->
    <style>
        #btn_back {
            width: 60px;
        }
    </style>
    <!--End Style-->
</div>