@page
@model ResetPasswordModel
@{
    /*
        Namespace: ~/Areas/Identity/Pages/Account/ResetPassword.cshtml
        Author: Wannapa Srijermtong
        Description: Resetting a password.
    */
    ViewData["Title"] = "Change password";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
<!-- Style -->
<style>
    @@media screen and (max-width: 321px) {
        .login-box-msg {
            font-size: 25px !important;
        }

        p.login-box-msg {
            font-size: 16px !important;
            padding: 0 15px 15px !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 5px;
        }

        form {
            width: 70% !important;
            margin: auto !important;
        }

        .login-page {
            margin: 0 auto !important;
        }

        .login-card-body {
            padding: 15px !important;
        }
    }
    /*screen and (max-width: 321px)*/

    @@media screen and (max-width: 376px) and (min-width: 321px) {
        .login-box-msg {
            font-size: 30px !important;
        }

        p.login-box-msg {
            font-size: 16px !important;
            padding: 0 15px 15px !important;
        }
    
        form {
            width: 85% !important;
            margin: auto !important;
        }

        .login-card-body {
            padding: 20px !important;
        }
    }
    /*screen and (max-width: 376px) and (min-width: 321px)*/

    @@media screen and (max-width: 426px) and (min-width: 376px) {

        p {
            margin-top: 0;
            margin-bottom: 7px;
        }

        form {
            width: 90% !important;
            margin: auto !important;
        }
    }
    /*screen and (max-width: 426px) and (min-width: 376px)*/

    @@media screen and (max-width: 769px) and (min-width: 426px) {

        p {
            margin-top: 0;
            margin-bottom: 7px;
        }
    }
    /*screen and (max-width: 769px) and (min-width: 426px)*/

    .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
</style>
<!-- End Style -->
<div class="hold-transition login-page">
    <div class="login-box position-fixed">
        <h3 class="login-box-msg">User Management System</h3>
        <!--Start Card-->
        <div class="card">
            <!--Start Card body-->
            <div class="card-body login-card-body">
                <p class="login-box-msg">Change password.</p>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Input.Email"></label><code>*</code>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label><code>*</code>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Password" id="acc_Password" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span id="icon_Password" class="fas fa-eye-slash" style="cursor:pointer" onclick="togglePasword()"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label><code>*</code>
                        <div class="input-group mb-3">
                            <input asp-for="Input.ConfirmPassword" id="acc_ConfirmPassword" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span id="icon_ConfirmPassword" class="fas fa-eye-slash" style="cursor:pointer" onclick="toggleConfirmPasword()"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="btn_save" type="submit" class="btn btn-block btn-success btn-block">Save</button>
                </form>
            </div>
            <!--End Card body-->
        </div>
        <!--End Card-->
    </div>
</div>
<!--Start Script-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            @if (TempData["Exception"] != null) { @Html.Raw(TempData["Exception"])}; // Check is has exception
        });
    </script>
}
<!--End Script-->