@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<div class="hold-transition login-page">
    <div class="login-box">
        <h3 class="login-box-msg">User Management System</h3>
        <!--Start Card-->
        <div class="card">
            <!--Start Card body-->
            <div class="card-body login-card-body">
                <p>
                    Your password has been reset. Please <a asp-page="./Login">click  to log in</a>.
                </p>
            </div>
            <!--End Card body-->
        </div>
        <!--End Card-->
    </div>

    <!--Start Script-->
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <!--End Script-->

</div>
