@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Change password confirmation";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
    /*
        Namespace: ~/Areas/Identity/Pages/Account/ResetPasswordConfirmation.cshtml
        Author: Wannapa Srijermtong
        Description: Confirmation of reset password confirm.
    */
    string URL = $"{this.Request.Scheme}://{this.Request.Host}{this.Request.PathBase}";
}
<div class="hold-transition login-page">
    <div class="login-box">
        <h3 class="login-box-msg">User Management System</h3>
        <!--Start Card-->
        <div class="card">
            <!--Start Card body-->
            <div class="card-body login-card-body text-center">
                <br>
                <i id="checkicon" class="fa fa-check-circle"></i>
                <br><br>
                <h3 id="success">Success!</h3>
                <p>
                    Your password has been reset.
                    <br>
                    You can login to start UMS with the new password.
                    <br><br>
                    <!--Start Button  Back to login-->
                    <a class="btn btn-block btn-primary" href="@URL/Identity/Account/Login">
                        Login
                    </a>
                    <!--End Button  Back to login-->
                </p>
            </div>
            <!--End Card body-->
        </div>
        <!--End Card-->
    </div>
</div>
<!--Start Script-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            @if (TempData["Exception"] != null) { @Html.Raw(TempData["Exception"])}; // Check is has exception
        });
    </script>
}
<!--End Script-->