@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<!--
    Namespace: ~/Areas/Identity/Pages/Account/ResetPassword.cshtml
    Author: Wannapa Srijermtong
    Description: Set email and password for reset.
-->

<div class="hold-transition login-page">
    <div class="login-box">
        <h3 class="login-box-msg">User Management System</h3>
        <!--Start Card-->
        <div class="card">
            <!--Start Card body-->
            <div class="card-body login-card-body">

                <p class="login-box-msg">Change password</p>

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Input.Email"></label><code>*</code>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label><code>*</code>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label><code>*</code>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </form>
            </div>
            <!--End Card body-->
        </div>
        <!--End Card-->
    </div>

    <!--Start Script-->
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <script>
            // Check is has exception
            @if (TempData["Exception"] != null) { @Html.Raw(TempData["Exception"]) /* Swal funciton */ }
        </script>
    }
    <!--End Script-->

</div>