@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
    /*
        Namespace: ~/Areas/Identity/Pages/Account/ResetPassword.cshtml
        Author: Wannapa Srijermtong
        Description: Resetting a password.
    */
}
<div class="hold-transition login-page">
    <div class="login-box">
        <h3 class="login-box-msg">User Management System</h3>
        <!--Start Card-->
        <div class="card">
            <!--Start Card body-->
            <div class="card-body login-card-body">
                <p class="login-box-msg">Change password</p>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Input.Email"></label><code>*</code>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label><code>*</code>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Password" id="acc_Password" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span id="icon_Password" class="fas fa-eye-slash" style="cursor:pointer" onclick="togglePasword()"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label><code>*</code>
                        <div class="input-group mb-3">
                            <input asp-for="Input.ConfirmPassword" id="acc_ConfirmPassword" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span id="icon_ConfirmPassword" class="fas fa-eye-slash" style="cursor:pointer" onclick="toggleConfirmPasword()"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="btn_save" type="submit" class="btn btn-success btn-block">Save</button>
                </form>
            </div>
            <!--End Card body-->
        </div>
        <!--End Card-->
    </div>
</div>
<!--Start Script-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            @if (TempData["Exception"] != null) { @Html.Raw(TempData["Exception"])}; // Check is has exception
        });
    </script>
}
<!--End Script-->