@*
    Namespace: ~/View/Shared
    File: _ValidationScriptsPartial.cshtml
    Description: Include script partial
*@

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<a href="D:\My programming\UMS\User Management System\Views\Shared\Error.cshtml">D:\My programming\UMS\User Management System\Views\Shared\Error.cshtml</a>